<h1>Candidatos cadastrados na sua vaga</h1>

<% @job.opportunities.each do |profile| %>
  <%#puts(profile.feature)%>
  <%= link_to profile.user_profile.name, profile.user_profile %>
  <%if profile.candidate_feature? %>
    <p>Candidato destacado</p>
  <% end %>
  <%= link_to  "Destacar", feature_candidate_job_opportunity_path(profile) %>
<% end %>