<% if user_signed_in?%>
  <% @jobs.each do |job| %>
    <% if job.opened? %>
      <p><%= link_to job.title, job %></p>
    <% end %>
  <% end %>
  <%= link_to  "Voltar", user_root_path %>

<% elsif headhunter_signed_in?%>
  <% @jobs.each do |job| %>
    <% if job.headhunter_id == current_headhunter.id %>
      <% if job.opened? %>
        <div>
        <p><%= link_to job.title, job %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to  "Voltar", headhunter_root_path %>
<% end %>